@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyriadPro Bold";
    src: url("../fonts/MyriadPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

body {
    color: rgba(6, 47, 135, 255) !important;
}

* {
    font-family: 'MyriadPro', sans-serif;
    font-size: 24px;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

main {
    background: url(../images/main-background1.jpg) repeat-y, url(../images/main-background2.jpg) repeat-y;
    height: 100%, 100%;
    background-position: left, right;
}


/* HEADER */

.header {
    padding: 2rem 0 1rem;
}

.menu-item a {
    margin-left: 4rem;
    padding: 5px;
    font-size: 30px;
    position: relative;
    color: rgba(2, 48, 114, 255);
}

.menu-item a:hover,
.menu-item a:visited,
.menu-item a:focus,
.menu-item a:active {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(247, 168, 27, 1) 50%, rgba(255, 255, 255, 1) 90%);
    background-position: bottom;
    background-size: 100% 4px;
    background-repeat: no-repeat;
}

.banner {
    border-top: 2px solid #f7a81b;
}


/* BODY */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'MariadPro Bold', sans-serif;
    position: relative;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    padding-left: 1rem;
    z-index: 1;
    margin: 1rem 0;
    text-align: left;
}

.title::before {
    content: '';
    background: #ffdd9f;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: block;
    position: absolute;
    left: 0;
    top: -18px;
    z-index: -1;
}

.btn-primary a {
    font-family: 'Mariad Bold', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background: #e32526;
    background-color: #e32526 !important;
    border-color: #e32526 !important;
    outline-color: #e32526 !important;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-top: 2rem;
}

.illness-info {
    padding: 5rem 0;
}

.illness-content ul li {
    border: 2px solid #f7a81b;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin: 0 0 2rem 0;
}

.illness-content ul li:last-child {
    margin-bottom: 0;
}

.illness-content ul li a {
    position: relative;
    text-align: left;
    display: block;
    font-size: 35px;
    font-weight: 600;
    padding-left: 1.5rem;
}

.illness-content ul li a::before {
    content: '';
    background: #f7a81b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
}

.product-info {
    background: url(../images/background1.jpg) top no-repeat;
    padding: 5rem 0 2rem;
}

.product-info #product-title {
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    line-height: 1;
}

#accordion a {
    font-size: 24px;
    font-weight: 600;
    color: #22499c;
    display: block;
    position: relative;
    padding-left: 40px;
}

#accordion a:before {
    content: "-";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    font-size: 28px;
    background: #22499c;
    color: #FFF;
    line-height: 28px;
}

#accordion .collapsed:before {
    content: "+";
}

.most-question,
.highlight-news,
.lasted-news {
    padding: 2rem 0;
}

.highlight-news-content .card {
    max-width: 31.25%;
    border: 2px solid #062f87;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    position: relative;
    border-radius: 10px;
}

.highlight-news-content .card img {
    max-width: 100%;
    height: auto !important;
    margin: 0;
}

.highlight-news-content .card .card-body {
    padding: 0;
}

.highlight-news-content .card .card-body .card-title {
    max-width: 90%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin: 1rem 0;
    text-align: left;
}

.highlight-news-content .card .card-body .card-title::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f7a81b;
    margin-right: 10px;
}

.highlight-news-content .card .card-body .card-text {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.2;
    margin: 1rem 0 2rem;
}

.news-link {
    color: #e32526 !important;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.last-section-homepage {
    background: url(../images/background-last.jpg) no-repeat;
    background-position: bottom;
}

.lasted-list {
    background-color: #fff;
    border: 2px solid #f7a81b;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
    margin: 3rem 0 0;
}

.lasted-list-info {
    margin: 1rem 0.5rem 2rem;
    width: 65%;
}

.news-list-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
}

.news-list-content {
    font-size: 22px;
    line-height: 1.3;
}

footer {
    background-color: #002f87;
    color: #fff;
    font-size: 19px;
    padding: 3rem 0;
}

.footer-2 {
    background-color: #f0f0f0;
    color: #002f87;
}

footer #header-title {
    font-size: 24px;
    font-weight: 700;
}

footer #email,
footer #tel,
footer #footer-link {
    color: #f7a81b;
}

.footer-2 #email,
.footer-2 #tel,
.footer-2 #footer-link {
    color: #002f87;
    font-weight: 600;
}


/* OTHER LAYOUT */

.p-strong {
    font-weight: 600;
}

.red-dot-highlight {
    color: #e32526 !important;
    position: relative;
    font-weight: 600;
}

.red-dot-highlight::before {
    content: '';
    background: #e32526;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    left: -1rem;
    top: 12px;
}

.layout-news-page img {
    border: 2px solid #f7a81b !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
    margin: 1rem 0;
}

.question-page #sub-question {
    color: #e32526;
    font-size: 40px;
    text-align: left;
}

.question-page #accordion a {
    font-size: 30px;
}

.question-page #accordion a:before {
    width: 26px;
    height: 26px;
    top: 7px;
}

.question-page .body-collapse {
    margin-left: 40px;
}

.list-decor {
    list-style-type: disc;
    padding-inline-start: 3rem;
}

@media screen and (max-width: 992px) {
    .highlight-news-content .card {
        max-width: 100%;
        margin: 2rem 0;
    }
}

@media screen and (max-width: 768px) {
    #main-nav {
        margin-top: 1rem;
    }
    .news-list-title {
        font-size: 26px;
        margin-bottom: 0.5rem !important;
    }
    .news-list-content {
        font-size: 22px;
    }
}

@media screen and (max-width: 576px) {
    p {
        font-size: 22px;
    }
    main {
        background: url(../images/main-background2.jpg) repeat-y;
        height: 100%;
        background-position: right;
    }
    .illness-info,
    .product-info,
    .most-question,
    .highlight-news,
    .lasted-news {
        padding: 1rem 0;
    }
    .btn-primary {
        margin-top: 1.5rem;
    }
    .illness-content ul li {
        border: 2px solid #f7a81b;
        border-radius: 10px;
        padding: 0.5rem;
        margin: 1rem 0 0;
    }
    .illness-content ul li:first-child {
        margin-top: 0;
    }
    .illness-content ul li a {
        font-size: 30px;
        padding-left: 1.5rem;
    }
    .illness-content ul li a::before {
        top: 8px;
    }
    .title {
        font-size: 35px;
        padding-left: 1rem;
        margin: 1rem 0;
    }
    .title::before {
        width: 50px;
        height: 50px;
        left: 0;
        bottom: 0;
    }
    .product-info #product-title {
        margin-top: 1rem;
    }
    .news-list-title {
        font-size: 24px;
    }
    .menu-item {
        width: 100%;
        text-align: right;
        margin-right: 1rem;
    }
    .lasted-list {
        padding: 0.5rem 1rem;
    }
    .lasted-list-info {
        width: 100%;
        margin: 1rem 0 2rem;
    }
    footer #header-title {
        font-size: 22px;
    }
    footer p,
    footer span,
    footer a {
        font-size: 18px;
    }
    /* OTHER LAYOUT */
    .question-page #sub-question {
        font-size: 30px;
    }
    .question-page .body-collapse {
        margin-left: 0;
    }
    .list-decor {
        padding-inline-start: 1.5rem;
    }
}