*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none !important;
    padding-inline-start: 0 !important;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

body {
    color: rgba(6, 47, 135, 255) !important;
}

p {
    font-family: 'AdobeInvisFont';
    font-size: 24px;
    text-align: justify;
}


/* HEADER */

.header {
    padding: 2rem 0 1rem;
}

.menu-item a {
    padding-left: 4rem;
    font-size: 30px;
    /* color: #023072; */
    color: rgba(2, 48, 114, 255);
}

.banner {
    border-top: 2px solid #f7a81b;
}


/* BODY */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    position: relative;
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    padding-left: 2rem;
    z-index: 1;
    margin: 1rem 0 3rem;
    text-align: left;
}

.title::before {
    content: '';
    background: #ffdd9f;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    font-size: 25px;
    line-height: bold;
    background: #e32526;
    background-color: #e32526 !important;
    border-color: #e32526 !important;
    outline-color: #e32526 !important;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-top: 4rem;
}

.illness-info {
    padding: 5rem 0;
}

.illness-content ul li {
    font-size: 35px;
    border: 2px solid #f7a81b;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin: 3rem 0 0;
}

.illness-content ul li a {
    position: relative;
    display: block;
    padding-left: 2rem;
}

.illness-content ul li a::before {
    content: '';
    background: #f7a81b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 17px;
}

.product-info {
    background: url(../images/background1.jpg) top no-repeat;
    padding: 10rem 0 5rem;
}

.product-info h3 {
    font-size: 35px;
}

#accordion a {
    font-family: 'MyriadPro';
    font-size: 22px;
    color: #22499c;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding-left: 40px;
}

#accordion a:before {
    content: "-";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 1;
    text-align: center;
    font-size: 28px;
    background: #22499c;
    color: #FFF;
    line-height: 25px;
}

#accordion .collapsed:before {
    content: "+";
}

.most-question,
.highlight-news,
.lasted-news {
    padding: 5rem 0;
}

.highlight-news-content .card {
    max-width: 31.25%;
    border: 2px solid #062f87;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    position: relative;
    border-radius: 10px;
}

.highlight-news-content .card img {
    max-width: 100%;
    height: auto !important;
    margin: 0 0 1rem 0;
}

.highlight-news-content .card .card-body {
    padding: 0;
}

.highlight-news-content .card .card-body .card-title {
    max-width: 90%;
    /* font-family: "UTMAvo Bold"; */
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    /* margin: 0 auto 10px; */
    text-align: left;
}

.highlight-news-content .card .card-body .card-title::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f7a81b;
    margin-right: 10px;
}

.highlight-news-content .card .card-body .card-text {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.2;
    margin: 1rem 0 2rem;
}

.news-link {
    color: #e32526 !important;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.lasted-news {
    background: url(../images/background-last.jpg) no-repeat;
    background-position: bottom;
}

.lasted-list {
    background-color: #fff;
    border: 2px solid #f7a81b;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
    margin: 3rem 0 0;
}

.lasted-list-info {
    margin: 1rem 2rem 2rem;
    width: 65%;
}

.news-list-title {
    font-size: 30px;
    line-height: 1;
}

.news-list-content {
    font-size: 22px;
    line-height: 1;
}

footer {
    background-color: #002f87;
    color: #fff;
    font-size: 19px;
    padding: 3rem 0;
}

footer #header-title {
    font-size: 24px;
}

footer #email,
footer #tel,
footer #footer-link {
    color: #f7a81b;
}

@media screen and (max-width: 992px) {
    .highlight-news-content .card {
        max-width: 100%;
        margin: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .illness-info,
    .most-question,
    .highlight-news,
    .lasted-news {
        padding: 2rem 0;
    }
    .title {
        font-size: 38px;
        padding-left: 1rem;
        margin: 2rem 0;
    }
    .title::before {
        width: 50px;
        height: 50px;
    }
    .menu-item {
        width: 100%;
        text-align: right;
        margin-right: 1rem;
    }
    .lasted-list-info {
        width: 100%;
        margin: 2rem 0;
    }
}